@use "mixins" as *

.edit-title-form
  display: grid
  grid-template-columns: 1fr auto
  grid-column-gap: 5px
  margin: 10px 0

  input
    border: none
    border-bottom: 2px solid $main-color-dark
    background: transparent
    text-align: center
    outline: none

.confirm-button, .cancel-button
  background: none
  border: none
  width: 30px
  height: 25px

  &:hover
    @include title-hover-animation
    background-color: transparent
    box-shadow: none
