$box-min-width: 300px
$form-min-height: 40px
$main-color-light: #3ca0de
$main-color-dark: #06639a

@mixin title-hover-animation
  box-shadow: rgb(169 174 183 / 50%) 0 2px 4px 0
  transform: translateY(-1px)
  transition: all 250ms
  background-color: rgba(60, 160, 222, 0.03)
  border-radius: 5px
