@use 'mixins' as *

.task-box
  display: grid
  padding: 20px
  grid-template-rows: 20px auto 1fr
  grid-row-gap: 20px
  background-color: rgba(255, 255, 255, 0.82)
  border-radius: 5px
  min-width: $box-min-width
  user-select: none

  &:hover
    background-color: rgba(255, 255, 255, 0.85)

.box-action-buttons
  display: flex
  justify-content: space-between

.drag-handle
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 100%
  background-color: $main-color-light
  &:hover
    cursor: move

.delete-task-box
  background: none
  border: none
  width: 30px
  height: 20px

  &:hover
    @include title-hover-animation
    background-color: transparent
    box-shadow: none

.dragging
  opacity: 0.4

.droppable
  border: 2px dashed $main-color-dark

.hovered
  border: 4px dashed $main-color-dark