@use 'mixins' as *

$checkbox-width: 1em

.task-item
  display: grid
  grid-template-columns: 20px 1fr 20px
  align-items: center
  padding: 0.5em
  white-space: pre-wrap
  max-width: $box-min-width
  line-height: 22px

  &:hover
    @include title-hover-animation
    cursor: grab

  &:active
    cursor: grabbing

.task-title
  cursor: text

.task-checkbox
  width: $checkbox-width
  height: 1em
  cursor: pointer

.delete-task-button
  background: none
  border: none
  width: 30px
  height: 20px