@use 'mixins' as *
$min-height: 40px

.task-form
  position: relative

.form-input
  padding: 7px
  border: none
  border-radius: 5px
  min-height: $min-height
  width: 95%

.form-button
  min-height: $min-height
  position: absolute
  border: none
  color: #06639a
  font-size: larger
  font-weight: bolder
  background-color: transparent
  cursor: pointer